.content-box{
  display:flex;
  width:100%;
  height:max-content

}
.dash-header{
  /* background-color: blueviolet; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}
.dash-header img{
  width: 30px;
 /* border: 5px solid gray; */
 border-radius: 50%;
}
.dash-header ion-icon{
  padding: 16px;
}

.box-left{
  /* background-color: yellow; */
  width: 20%;
}

.box-left ul{
  display: flex;
  flex-direction: column;
  height: 300px;
  list-style: none;
}
.right-box{
  /* background-color: green; */
  width: 80%;
}